body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
    width: 800px;
}

img {
    max-width: 100%;
    display: block;
}

/* TOPOGRAPHY */

/* LAYOUT */

    /* header section */
.icon-container {
    padding: 1em;
    display: flex;
    justify-content: space-between;
/*     border: 1px solid #ff00ff; */
}

.icon-profile,
.icon-logo,
.icon-chat {
    object-fit: contain;
}

.icon-profile:hover,
.icon-chat:hover {
    transform: scale(1.1);
}

    /* main section */
main {
    padding: 1em;
}

.candidate-container {
    position: relative;
}

.dog-candidate {
    border-radius: 15px;
    background-color: #404040;
}

.candidate-name {
    position: absolute;
    bottom: 32px;
    left: 16px;
    color: #f8f8f8;
    font-weight: 600;
    font-size: 2rem;
}

.candidate-description {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: #b7b7b7;
    font-size: 1.25rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.cross-btn, 
.heart-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1em 1em 0 1em;
    width: 5em;
    height: 5em;
    box-shadow: 0px 0px 15px #e5e4e2;
    border-radius: 50%;
    cursor: pointer;
}

.cross-btn:hover,
.cross-btn:focus {
    background: #ffe7ef;
}

.heart-btn:hover,
.heart-btn:focus {
    background: #dbfff4;
}

.icon-cross,
.icon-heart {
    padding: 1.5em;
}

    /* footer section */
footer {
}

footer p{
    margin: 0;
    letter-spacing: .1em;
}